* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: calc(100vh);
    background-color: rgba(213, 219, 226, 0.418);
    font-family: 'helvetica', Arial, sans-serif;
}
.nav-section {
    width: 17%;
    height: 100%;
    background-color: #172233;
    margin-right: 2px;
}
.nav-section header {
    display: flex;
    align-items: center;
    height: 50px;
    color: #ddd;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.nav-section nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.nav-section nav div {
    padding: 15px 35px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.nav-section nav div i {
    margin-right: 10px;
}
.nav-section nav div:hover {
    background-color: rgb(49, 98, 203);
    border-radius: 5px;
    cursor: pointer;
}
.nav-section header {
    height: 50px;
}
.nav-section header img {
    height: 80%;
}



.content-section {
    width: 83%;
    height: 100%;
}
.content-section header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: rgb(49, 98, 203);
    height: 50px;
}
.content-section header div {
    margin-right: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.notification {
    position: relative;
    display: inline-block;
}
.icon {
    font-size: 20px;
}
.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}
.user-avatar{
    font-size: 20px;
}
.user-name {
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.logout {
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.logout i {
    color: #f3bf04;
    font-size: 20px;
}


@media (max-width: 800px) {
    .nav-section {
      display: none;
    }
    .content-section {
      width: 100%;
    }
    .detail-container {
        width: 80%;
        height: 80%;
    }
}
/* Đối với thanh cuộn dọc */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.table {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: thin;
}